.bat-average {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.bat-average .panel {
  display: inline-flex;
  background-color: #f7f3f7;
  flex-grow: 0;

  padding: 5px;
  margin: 5px;
}



.bat-average-stats {
    
}