
.panel.team-select {
    width: 40%;
    height: 12vh;

    padding: 12px;
    text-align: start;
    color: black;

    display:inline-flex;
    flex-flow: row nowrap;
    /* flex-direction: column;
    flex-wrap: wrap; */
    align-content: flex-start;
}

.lbl-input-group {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    height: auto;
    width: auto;
}

.panel.player-add {
    display: inline-flex;
    flex-flow: column wrap;
}

.player-add {
    width: 17vw;
    height: 12vh;
    
    padding: 12px 12px;
    text-align: start;
    color: black;
}

.player-add-cb {
    margin-right: 10px;
}

.ant-select.ant-select-lg.player-add-cb .ant-select-selector {
    width: 8vw;
    height: 50px;
    align-items: center;
}

.select.team-select {
    width: 15vw;
    vertical-align: center;
    margin: 10px
}

.select.team-select .ant-select-selector {
    height: 50px;
    align-items: center;
}

.input.player-number {
    width: 2.75vw;
    height: 50px;
    margin-right: 0px;
}

.ant-input-number.input.player-number {
    display:inline-flex;
    align-items: center;
}

.player-select-cb {
    width: 10vw;
    /* height: 50px; */
}

.ant-select.ant-select-lg.player-select-cb .ant-select-selector {
    height: 50px;
    align-items: center;
}