.bold {
    font-weight: bold;
}

.pp-input {
    display:inline-block;
    width:fit-content;
    height: fit-content;
}

.header-input {
    height: 50px;
    margin: 10px;
}


.player-name {
    width: 200px
}