
/* Changes for the Select/Combo Box feature */

/* :where(.css-dev-only-do-not-override-17a39f8).ant-select-single {
    margin: 10px;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    width: 200px;
    height: 50px;
} */

/* Select Item Text */
/* :where(.css-dev-only-do-not-override-17a39f8).ant-select .ant-select-selection-item {
    font-size: 22px;
} */

/* Player Add Combo Box */
/* :where(.player-add-cb.css-dev-only-do-not-override-17a39f8).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector{
    width: 150px;
} */

/* Player Select Combo Box */
/* :where(.player-select-cb.css-dev-only-do-not-override-17a39f8).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector{
    width: 400px;
} */

/* :where(.css-17a39f8).ant-select-single {
    margin: 10px;
}

:where(.css-17a39f8).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    width: 200px;
    height: 50px;
} */


.base-button {
  font-size: 20px;
  width: 10.5%;
  height: 5%;
  border-radius: 20px;
  box-shadow: 1px 1px 25px #6e6e6e;
}