.data-pnl-content {
    width: 100%;
    margin: 10px 0px;
}

.content-data-pnl-row-1 {
    display: inline-flex;
    flex-direction: row;;
    width: 100%;
    justify-content: space-between;
}

.content-data-pnl-row-2 {
    display: inline-flex;
    flex-direction: row;;
    width: 100%;
    justify-content: space-between;
}

.content-data-pnl-row-3 {
    display: inline-flex;
    flex-direction: row;;
    width: 100%;
    justify-content: flex-start;
}