.player-profile {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
}
.player-profile-header {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.mode-selection {
    display:inline-flex;
    flex-direction: column;
    width: 13%;
    min-width: 120px;
}

.card-panel-selection {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    width: 50%;
    min-width: 400px;
    margin: 0px 25px;
    background-color: #f4f4f4;
}

.card-panel-game-day {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    min-width: 310px;
    width: 350px;
}

.btn-blue {
    min-width: 90px;
    width: 10%;
    height: 80px;
    /* word-wrap: break-word; */
}

.btn-add-player {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
    width: 15%;
}

.card-panel-content {
    display: flex;
    flex-direction: column;
    width: 96.5%;
    height: 780px;
    margin: 20px;
    background-color: #f4f4f4;
}

.content-data {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.content-data-pnl {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
}

.content-data-pnl-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.content-button-pnl {
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;

    justify-content: flex-end;
    align-items: center;
    
    width: 20%;
}

.content-button-pnl .permission-checkbox {
    box-sizing: border-box;
    margin-left: 11%;
    align-self: flex-start;

    font-size: 1.25em;
}

.btn-blue.btn-pnl-save {
    box-sizing: border-box;
    width: 80%;
    margin: 5px 0px;
}

.btn-blue.btn-pnl-delete {
    background-color: #de3a55;
    box-sizing: border-box;
    width: 80%;
    margin: 5px 0px;
    height: 65px;    
}

.btn-blue.btn-pnl-clear {
    background-color: #939393;
    box-sizing: border-box;
    width: 80%;
    margin: 5px 0px;
    height: 65px;
    
}

.content-list-view {
    margin-top: 50px;
}