.pitching-record {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pitching-record .panel {
    display: inline-flex;
    background-color: #f7f3f7;
    flex-grow: 1;

    padding: 10px;
}