.other-game-bottom-body {
    display: flex;
    justify-content: space-between;
}


.other-game-bottom-left {
    width: 75%;
}

.other-game-bottom-right {
    width: 20%;
}

.select-comment-container {
    border-radius: 5px;
    padding: 20px 15px;
    outline-style: double;
    outline-color: white;
}

.input-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bot-left-input1 {
    margin-bottom: 10px;
}

.select-comment-container, .input-btn {
    margin-top: 5px;
}

.dst-comment-num {
    font-size: 18px;
}