.all-matches-top-card {
    width: calc((100vw * (1400 / 6)) / 1440);
    background-color: #f4f4f4;
    max-width: 228px;
}

.active {
    outline: 1px solid red;
}

.all-matches-top-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all-matches-top-body > div {
    display: flex;
    gap: 5px;
}
.row1 > Button {
    min-width: 65px;
    padding: 2px;
}

.btn-1 {
    background-color:lightgrey;
    outline: 1px solid white;
}

.btn-0, .btn-4 {
    background-color: rgba(255, 130, 128, 1);
    color: white;
}

.btn-5 {
    background-color: lightgreen;
    /* color: white; */
}

.btn-2, .btn-3 {
    background-color: darkgrey;
}

.row4,
.row6 {
    justify-content: flex-end;
}

.row4 > Input,
.row6 > Input {
    width: 50px;
}

.sub-btn,
.add-btn {
    background: linear-gradient(
    90deg,
    rgb(157, 127, 181) 35%,
    rgba(146, 118, 168, 1) 100%
  );
  color: white;
  border-radius: 50px;
  font-size: 0.9em;
  min-width: 32px;
  padding: 0;
}

.match-card-save-btn {
    width: 100%;
}