.stadium-edit-modal {
}

.stadium-edit-modal .ant-modal-content {
    display: flex;
    flex-direction: column;

    width: 800px;
    height: 600px;
    transform: translate(-200px, 0px);
    /* justify-content: space-between; */
    /* align-self: center; */

    padding: 0px 0px 0px 0px;
    border-radius: 10px;
}


.stadium-edit-modal .ant-modal-content .ant-modal-body { 
    display: inline-flex;
    flex-direction: column;

    padding: 10px;
    height: 85%;

    justify-content: center;
    align-items: center;
}

.stadium-edit-modal .ant-modal-content .ant-modal-footer { 
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 100%;

    margin-top: 0px;
    padding-bottom: 5px;
    padding-right: 30px;

    /* justify-content: center;
    align-items: center; */
}