 .labeled-text {
    display: inline-flex;
    flex-direction: column;
    margin-top: 5px;
    margin-right: 10px;

    align-items: center;
    width: 112.5px;
    min-width: 70px;;
}

.text-input {
    width: 100%;
    text-align: center;
}

.text-label {
    font-size: 1.25em;
}
/*
.labeled-text label {
    color: black;
}

.label-panel {
    display: inline-flex;
    width:100%;
    background-color: #ffff9c;
    justify-content: center;
    border-radius: 6px;
    margin-bottom:3px;

}

.labeled-text-input {
    width: 100%;
    min-width: none;
    min-height: none;
} */