.labeled-cb {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    height: 60px;
    justify-content: space-between;
    margin: 6px;
}

.combo-box {
    width: 100%;
    margin: 0px;
    height: 60px;
}