/* ========================================================================= */
/*                                  Column 1                                 */

.ds.content .panel.current-data .current-data.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;

  width: 22%;
}

.ds.content .panel.current-data .current-data.col-1 label {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  /* width: 33%; */
}

/*                                    END                                    */
/* ========================================================================= */



/* ========================================================================= */
/*                                  Column 2                                 */

.ds.content .panel.current-data .current-data.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
  
    width: 30%;
  }
  
  .ds.content .panel.current-data .current-data.col-2 label {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* width: 33%; */
  }

/*                                    END                                    */
/* ========================================================================= */


/* ========================================================================= */
/*                                  Column 3                                 */

/* Main Column Panel */
.ds.content .panel.current-data .current-data.col-3 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 10px;
  
    width: 30%;
  }
  

/* Column Title */
.ds.content .panel.current-data .current-data.col-3 label {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  /* width: 33%; */
}

/* Table Selected Row */
.ds.content .panel.current-data .current-data.col-3 .ant-table-row.ant-table-row-selected  {
  background-color: #5987d5;
}

/* Table Selected Row */
.ds.content .panel.current-data .current-data.col-3 .ant-table-cell-row-hover  {
  background-color: #b7c9e9;
}

/* Table Row */
.ds.content .panel.current-data .current-data.col-3 .ant-table-row-level-0 {
  background-color: #c0d7ff;
  font-weight:bold; 
}

/*                                    END                                    */
/* ========================================================================= */

/* ========================================================================= */
/*                                Used Data 1                                */

.ds.content .panel.used-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;

  width: 27%;
  height: 600px;
}

.ds.content .panel.used-data label {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  /* width: 33%; */
}
  
/*                                    END                                    */
/* ========================================================================= */

/* ========================================================================= */
/*                               Column Buttons                              */

.ds.content .panel.current-data .current-data.col-btn {
  display: flex;
  flex-direction: column;
  /* margin: 5px; */
  justify-content: space-evenly;

}

.ds.content .panel.current-data .current-data.col-btn .arrow-button-group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.ds.content .panel.current-data .current-data.col-btn .panel.checkbox-filter {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  padding: 10px;
}

.ds.content .panel.current-data .current-data.col-btn .panel.checkbox-filter .ant-checkbox-wrapper span{
  font-size: 12px;
  white-space: nowrap;
}

.ds.content .panel.current-data .current-data.col-btn .arrow-button-group button {
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    height: 50px;
    width: 30px;

    padding: 0px;  
    /* padding-bottom: 8px; */
    margin-top: 5px;
    margin-bottom: 5px;

    box-shadow: 0px 0px 8px rgb(156, 156, 156)
}
.ds.content .panel.current-data .current-data.col-btn .arrow-button-group button span{  
  /* padding-bottom: 8px */
}

/* Radio Button Switch Column 2 */
.ds.content .panel.current-data .current-data.col-btn.col-btn-2 {
  align-items: center;
}

.ds.content .panel.current-data .current-data.col-btn.col-btn-2 button {
  width: 120px;
}

.ds.content .panel.current-data .current-data.col-btn.col-btn-2 .arrow-button-group button {
  width: 120px;
  flex-grow: 1
}


/*                                    END                                    */
/* ========================================================================= */



/*                                    END                                    */
/* ========================================================================= */