.stats-profile-tab {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.stats-profile-column {
    display: inline-flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    align-items: center;
}